<p id="notice"><%= notice %></p>

<h2>Länder</h2>
<ul>
    <% @countries.each do |country| %>
    
        <li><%= country.name %>
        <%= link_to 'Show', country %>
        <%= link_to 'Edit', edit_country_path(country) %>
        <%= link_to 'Destroy', country, method: :delete, data: { confirm: 'Are you sure?' } %></li>

    <% end %>
</ul>

<%= link_to 'New Country', new_country_path %>
