<p id="notice"><%= notice %></p>

<p>
  <strong>Land:</strong>
  <%= @country.name %>
</p>


  <strong>Beschreibung:</strong>
  <%= @country.descriptions.html_safe %>


<p>
  <%#= @country.pictures %>
  <%= image_tag(@country.pictures_url, width: 600) if @country.pictures.present? %>
</p>

<%= link_to 'Edit', edit_country_path(@country) %> |
<%= link_to 'Back', countries_path %>
